.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  li {
    padding-left: 1rem;
  }
}

.nonSelected {
  background: yellow;
  color: green;
}
.selectedScss {
  background: hotpink;
  color: aliceblue;
}
